{{define "profile_overview"}}
{{template "header"}}
<div class="h-full w-full flex flex-row py-10 gap-4">
    <div class="flex flex-col gap-4 w-1/4 mt-10">
        <span class="text-3xl font-title font-bold">Profile</span>
        <a href="#" class="flex flex-row items-center gap-4 px-4 py-2 bg-pm-2 text-pm-4 rounded-lg border-2 transition-colors hover:border-pm-1 hover:text-pm-1">
            <i class="fa-solid fa-sheet-plastic"></i> Projects
        </a>
        <a href="#" class="flex flex-row items-center gap-4 px-4 py-2 bg-white rounded-lg border-2 transition-colors hover:border-pm-1 hover:text-pm-1">
            <i class="fa-solid fa-list-check"></i> Tasks
        </a>
        <a href="#" class="flex flex-row items-center gap-4 px-4 py-2 bg-white rounded-lg border-2 transition-colors hover:border-pm-1 hover:text-pm-1">
            <i class="fa-solid fa-hand-point-up"></i> Invites
        </a>
        <a href="#" class="flex flex-row items-center gap-4 px-4 py-2 bg-white rounded-lg border-2 transition-colors hover:border-pm-1 hover:text-pm-1">
            <i class="fa-solid fa-gear"></i> Settings
        </a>
    </div>
    <div class="h-full w-1 bg-pm-5"></div>
    <div class="w-full h-full flex flex-col mt-10 gap-8">
        <form class="flex flex-row gap-4" method="post" hx-post="/profile/overview/search" hx-target="tbody" hx-swap="innerHTML">
            <input type="text" name="query" placeholder="Enter project name..." class="w-full ring-0 border-0 border-b-2 focus:ring-0 focus:border-pm-1">
            <select name="status" class="ring-0 focus:ring-0 focus:border-pm-1 border-pm-5 border-0 border-b-2 rounded-none"> 
                <option value="" class="" selected>All</option>
                <option value="active">Active</option>
                <option value="done">Done</option>
                <option value="stoped">Stoped</option>
            </select>
            <select name="owner" class="ring-0 focus:ring-0 focus:border-pm-1 border-pm-5 border-0 border-b-2 rounded-none"> 
                <option value="" class="" selected>All</option>
                <option value="you">You</option>
            </select>
            <button type="submit" class="px-4 py-2 bg-white rounded-md text-center font-medium text-xl border-2 border-pm-5 transition-colors hover:border-pm-1 hover:text-pm-1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="overflow-x-scroll">
            <table class="w-full text-sm text-left">
                <thead class="text-xs uppercase bg-pm-2 text-pm-4">
                    <tr>
                        <th class="px-6 py-3">
                            Project name
                        </th>
                        <th class="px-6 py-3">
                            Status
                        </th>
                        <th class="px-6 py-3">
                            Tasks
                        </th>
                        <th class="px-6 py-3">
                            Owner
                        </th>
                        <th class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{block "profile_overview_data" .Projects}}
                    {{range .}}
                    <tr class="bg-white border-b hover:bg-pm-3">
                        <td class="px-6 py-4 font-medium whitespace-nowrap">
                            {{.Name}}
                        </td>
                        <td class="px-6 py-4">
                            {{.Status}}
                        </td>
                        <td class="px-6 py-4">
                            {{.Tasks}}
                        </td>
                        <td class="px-6 py-4">
                            {{.Owner}}
                        </td>
                        <td class="px-6 py-4 flex flex-row gap-4">
                            <a href="/project/{{.Id}}" class="font-medium text-pm-5 hover:underline">Follow</a>
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "footer"}}
{{end}}