<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="mx-4 font-main" style="background-image: url('../static/images/bg.svg');">
    <div class="flex flex-col w-screen h-screen">
        <div class="flex flex-row justify-between items-center w-4/6 mx-auto my-8">
            <div class="flex flex-row items-center uppercase font-title font-bold text-3xl">
                <img src="../static/images/Logo.svg" class="w-12 h-12">
                <span class="ml-2 text-pm-1">
                    Pro
                </span>
                <span class="text-pm-2">
                    Jager
                </span>
            </div>
            <div class="flex flex-row items-center gap-4 font-title text-xl text-pm-2">
                <span class="">
                    Sign up
                </span>
                <div class="size-2 bg-pm-1 rotate-45"></div>
                <span class="">
                    Log in
                </span>
            </div>
        </div>
        <div class="flex flex-row h-full w-4/6 mx-auto gap-4">
            <div class="flex flex-col justify-center items-center w-6/12 gap-10">
                <p class="text-[58px] text-pm-5 font-bold leading-[5rem]">
                    Unleash your <br> productivity with <br>
                    <span class="text-pm-4">
                        best project manager
                    </span>
                </p>
                <p class="font-main text-pm-2 font-medium text-2xl">
                    Elevate your project managment skills and product quality with our simple and effective project control system.
                </p>
                <div class="flex flex-row items-center justify-around text-5xl font-bold w-full">
                    <div class="text-pm-4 leading-none flex flex-col">
                        <span>
                            10+
                        </span>
                        <span class="text-pm-2 text-lg">
                            Complite projects
                        </span>
                    </div>
                    <div class="text-pm-4 leading-none flex flex-col">
                        <span>
                            70+
                        </span>
                        <span class="text-pm-2 text-lg">
                            Active projects
                        </span>
                    </div>
                    <div class="text-pm-1 leading-none flex flex-col">
                        <span>
                            200+
                        </span>
                        <span class="text-pm-2 text-lg">
                            Developers
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center w-6/12">
                <img src="../static/images/HeroIllustration.svg" class="w-full h-full">
            </div>
        </div>
    </div>
</body>
</html>