<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="bg-pm-9 mx-4 font-sans" style="background-image: url('../static/images/bg.svg');">
    <div class="w-3/6 h-screen mx-auto mt-40 flex flex-col border-2">
        <h1 class="text-3xl text-pm-3 font-bold">Профиль</h1>
        <div class="flex flex-row w-full h-full mt-10 border-2">
            <div class="flex flex-col h-full gap-4">
                <a href="#" class="font-medium text-pm-4 text-xl px-4 py-2 rounded-md transition-colors bg-pm-8 hover:bg-pm-7">Основные данные</a>
                <a href="#" class="font-medium text-pm-4 text-xl px-4 py-2 rounded-md transition-colors hover:bg-pm-7">Основные данные</a>

            </div>

        </div>
    </div>
</body>
</html>