<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="mx-4 font-main overflow-clip" style="background-image: url('../static/images/bg.svg');">
    <div class="flex flex-col w-screen h-screen">
        <div class="flex flex-row justify-between items-center w-4/6 mx-auto my-8">
            <div class="flex flex-row items-center uppercase font-title font-bold text-3xl">
                <img src="../static/images/Logo.svg" class="w-12 h-12">
                <span class="ml-2 text-pm-1">
                    Pro
                </span>
                <span class="text-pm-2">
                    Jager
                </span>
            </div>
            <div class="flex flex-row items-center gap-4 font-title text-xl text-pm-2">
                <a href="#" class="transition-all px-4 py-2 rounded-md hover:bg-pm-4">
                    Sign up
                </a>
                <div class="size-2 bg-pm-1 rotate-45"></div>
                <a href="#" class="transition-all px-4 py-2 rounded-md hover:bg-pm-4">
                    Log in
                </a>
            </div>
        </div>
        <div class="flex flex-row w-4/6 mx-auto h-full">
            <div class="flex flex-col w-3/12 mb-20 pt-16 text-xl text-pm-2 border-e-2 border-pm-3 pe-8">
                <span class="font-title font-bold text-3xl text-pm-2">Profile</span>
                <a href="#" class="mt-8 flex flex-row gap-4 items-center px-8 py-2 rounded-lg border-2 text-pm-4 hover:border-pm-1 bg-pm-2 transition-all hover:bg-pm-5">
                    <i class="fa-solid fa-grip text-pm-1"></i>     
                    Projects
                </a>
                <a href="#" class="mt-4 flex flex-row gap-4 items-center px-8 py-2 rounded-lg border-2 text-pm-2 transition-all hover:bg-pm-4">
                    <i class="fa-solid fa-list-check"></i>
                    Tasks
                </a>
                <a href="#" class="mt-4 flex flex-row gap-4 items-center px-8 py-2 rounded-lg border-2 text-pm-2 transition-all hover:bg-pm-4">
                    <i class="fa-solid fa-reply"></i>
                    Invites
                </a>
                <a href="#" class="mt-4 flex flex-row gap-4 items-center px-8 py-2 rounded-lg border-2 text-pm-2 transition-all hover:bg-pm-4">
                    <i class="fa-solid fa-gears"></i>
                    Settings
                </a>
            </div>
            <div class="flex flex-col w-9/12 pt-14 ">
                <div class="px-8 flex flex-row gap-4">
                    <div class="flex flex-row items-center w-full px-4 py-2 bg-white border-2 border-pm-2 rounded-xl">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="email" name="email" placeholder="Search task by name..." class="border-none w-full focus:ring-0">
                    </div>
                    <div class="flex flex-row items-center px-4 py-2 bg-white border-2 border-pm-2 rounded-xl">
                        <select id="countries" class="border-none focus:ring-0 w-fit">
                            <option selected>All</option>
                            <option value="">Active</option>
                            <option value="">Done</option>
                            <option value="">Pending</option>
                            <option value="">Paused</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-wrap w-full mt-8 px-8 text-pm-2">
                    <div class="flex flex-col w-1/2 p-4 bg-white rounded-lg border-2 border-pm-2 transition-all hover:border-pm-1">
                        <span class="text-2xl font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="flex flex-row items-center mt-4 gap-4 font-medium">
                            <span class="flex flex-row items-center gap-2 px-4 py-2 rounded-md bg-pm-4">
                                <div class="size-2 rounded-full bg-pm-1"></div>
                                Active
                            </span>
                            <span class="">
                                Members: 8
                            </span>
                            <span class="">
                                Tasks: 12
                            </span>
                        </div>
                        <span class="mt-4">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quasi ea aliquid ducimus. Delectus, libero deserunt temporibus eos ullam nisi! Assumenda rem totam dolorum repellendus perspiciatis, inventore quo facere explicabo. Ab magnam provident quos.
                        </span>
                    </div>
                    <div class="flex flex-col w-1/2 p-4 bg-white rounded-lg border-2 border-pm-2 transition-all hover:border-pm-1">
                        <span class="text-2xl font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="flex flex-row items-center mt-4 gap-4 font-medium">
                            <span class="flex flex-row items-center gap-2 px-4 py-2 rounded-md bg-pm-4">
                                <div class="size-2 rounded-full bg-pm-1"></div>
                                Active
                            </span>
                            <span class="">
                                Members: 8
                            </span>
                            <span class="">
                                Tasks: 12
                            </span>
                        </div>
                        <span class="mt-4">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quasi ea aliquid ducimus. Delectus, libero deserunt temporibus eos ullam nisi! Assumenda rem totam dolorum repellendus perspiciatis, inventore quo facere explicabo. Ab magnam provident quos.
                        </span>
                    </div>
                    <div class="flex flex-col w-1/2 p-4 bg-white rounded-lg border-2 border-pm-2 transition-all hover:border-pm-1">
                        <span class="text-2xl font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="flex flex-row items-center mt-4 gap-4 font-medium">
                            <span class="flex flex-row items-center gap-2 px-4 py-2 rounded-md bg-pm-4">
                                <div class="size-2 rounded-full bg-pm-1"></div>
                                Active
                            </span>
                            <span class="">
                                Members: 8
                            </span>
                            <span class="">
                                Tasks: 12
                            </span>
                        </div>
                        <span class="mt-4">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quasi ea aliquid ducimus. Delectus, libero deserunt temporibus eos ullam nisi! Assumenda rem totam dolorum repellendus perspiciatis, inventore quo facere explicabo. Ab magnam provident quos.
                        </span>
                    </div>
                    <div class="flex flex-col w-1/2 p-4 bg-white rounded-lg border-2 border-pm-2 transition-all hover:border-pm-1">
                        <span class="text-2xl font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="flex flex-row items-center mt-4 gap-4 font-medium">
                            <span class="flex flex-row items-center gap-2 px-4 py-2 rounded-md bg-pm-4">
                                <div class="size-2 rounded-full bg-pm-1"></div>
                                Active
                            </span>
                            <span class="">
                                Members: 8
                            </span>
                            <span class="">
                                Tasks: 12
                            </span>
                        </div>
                        <span class="mt-4">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quasi ea aliquid ducimus. Delectus, libero deserunt temporibus eos ullam nisi! Assumenda rem totam dolorum repellendus perspiciatis, inventore quo facere explicabo. Ab magnam provident quos.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>