<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="mx-4 font-main overflow-clip" style="background-image: url('../static/images/bg.svg');">
    <div class="flex flex-col w-screen h-screen">
        <div class="flex flex-row justify-between items-center w-4/6 mx-auto my-8">
            <div class="flex flex-row items-center uppercase font-title font-bold text-3xl">
                <img src="../static/images/Logo.svg" class="w-12 h-12">
                <span class="ml-2 text-pm-1">
                    Pro
                </span>
                <span class="text-pm-2">
                    Jager
                </span>
            </div>
            <div class="flex flex-row items-center gap-4 font-title text-xl text-pm-2">
                <a href="#" class="transition-all px-4 py-2 rounded-md hover:bg-pm-4">
                    Sign up
                </a>
                <div class="size-2 bg-pm-1 rotate-45"></div>
                <a href="#" class="transition-all px-4 py-2 rounded-md hover:bg-pm-4">
                    Log in
                </a>
            </div>
        </div>
        <div class="flex flex-row h-full w-4/6 mx-auto gap-8">
            <div class="flex flex-col pt-20 items-start w-5/12 gap-10">
                <div class="text-5xl font-title text-pm-2 font-bold leading-[4rem]">
                    Welcome to the <br>
                    <div class="text-pm-1 uppercase">Projager</div>
                </div>
                <form class="flex flex-col text-pm-2 w-full">
                    <label for="email" class="text-3xl font-medium">Email</label>
                    <div class="flex flex-row items-center px-4 py-2 mt-2 bg-white border-2 border-pm-2 rounded-xl">
                        <i class="fa-solid fa-envelope size-6"></i>
                        <input type="email" name="email" placeholder="Enter your email..." class="border-none w-full focus:ring-0">
                    </div>
                    <label for="password" class="text-3xl font-medium mt-6">Password</label>
                    <div class="flex flex-row items-center px-4 py-2 mt-2 bg-white border-2 border-pm-2 rounded-xl">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" placeholder="Enter your password..." class="border-none w-full focus:ring-0">
                    </div>
                    <div class="flex flex-row items-center px-4 py-2 mt-2 bg-white border-2 border-pm-2 rounded-xl">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="repeat" placeholder="Repeat your password..." class="border-none w-full focus:ring-0">
                    </div>
                    <button type="submit" class="flex flex-row w-full px-8 py-4 mt-8 text-xl items-center font-bold bg-pm-4 transition-all hover:bg-opacity-80 rounded-xl">
                        <div class="w-full"></div>
                        <span class="">Continue</span>
                        <div class="w-full"></div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    <span class="text-center text-xl mt-4 font-medium">
                        Already have account?
                        <a href="#" class="text-pm-1 transition-all hover:opacity-80"> Log in</a>
                    </span>
                </form>
            </div>
            <div class="flex flex-col justify-center items-center w-7/12 bg-cover rounded-xl mb-4" style="background-image: url('../static/images/LoginIllustration.svg');">
            </div>
        </div>
    </div>
</body>
</html>